html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Zeilenumbruch in Tabellenzellen sicherstellen */
.table td, .table th {
  word-break: break-word;
  white-space: normal;
}

/* Farben für Kartenköpfe nach Priorität */
.card-header-priority-hoch {
  background-color: #dc3545 !important; /* Rot für hohe Priorität */
  color: #fff !important;
}
.card-header-priority-mittel {
  background-color: #ffc107 !important; /* Gelb für mittlere Priorität */
  color: #212529 !important;
}
.card-header-priority-niedrig {
  background-color: #28a745 !important; /* Grün für niedrige Priorität */
  color: #fff !important;
}

/* Stile für .table-priority-... entfernen */
.table-priority-hoch thead th,
.table-priority-mittel thead th,
.table-priority-niedrig thead th {
  background-color: inherit;
  color: inherit;
}